
body{
	display: flex;
	justify-content: center;
	align-items: center;

  background: antiquewhite;
}

/*.container{
	text-align: center;
}
*/



#canvas {
 border: 1px solid black; 

}


.color-field {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
